.accountBox {
    max-width: 1280px;
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
    margin: auto;
    display: flex;
}

.acc_info {
    width: 30%;
    background-color: tomato;
    padding-left: 5%;
    box-sizing: border-box;
}
.acc_i_account {
    position: sticky;
    top: 5vh;
}
.acc_i_a_name {
    position: relative;
}
/* ------------------------------------------ */
.acc_i_a_avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.acc_i_a_avatar {
    width: 50%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 20%;
    overflow: hidden;
    background-color: white;
}
.acc_i_a_n_name {
    font-size: 150%;
    font-weight: bold;
}
.acc_i_a_n_id {
    font-size: 100%;
    color: rgb(0,0,0,0.7);
    padding-left: 1em;
}
.acc_i_a_btn1,
.acc_i_a_btn2 {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(1rem * 1.5);
}
.acc_i_a_btn1 button,
.acc_i_a_btn2 button {
    font-size: 0px;
    border: 0;
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.acc_i_a_btn1 button{
    background: transparent url('/src/img/dots-vertical.svg') no-repeat center / 90%;
}
.acc_i_a_btn2 button{
    background: transparent url('/src/img/pencil.svg') no-repeat center/80%;
}
.acc_i_a_b_menu{
    position: absolute;
    z-index: 3000;
    top: 0;
    right: 100%;
    background-color: white;
    box-shadow: 1px 2px 5px 0px black;
    border-radius: 10%;
    overflow: hidden;
}
.acc_i_a_b_menu li a{
    display: block;
    padding: 0.5em 1em;
    word-break: keep-all;
    white-space: nowrap;
    transition: .3s ease;
}
.acc_i_a_b_menu li a:hover {
    background-color: #aaa;
}
/* ------------------------------------------ */
.acc_feed {
    width: 70%;
}
.acc_f_list {
    width: 90%;
    margin: auto;
    background-color: white;
}
.acc_f_c_account {
    height: max(3rem, 8vh);
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.acc_f_c_acc_avatar {
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px solid #666;
    border-radius: 20%;
    overflow: hidden;
    background-color: white;
}
.acc_f_c_acc_avatar img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.acc_f_c_acc_name span{
    font-size: 80%;
    color: #444;
}
.acc_f_c_acc_sub {
    position: absolute;
    right: 0;
    font-size: 80%;
    color: #444;
}
.acc_f_c_text {
    min-height: 1rem;
    width: 90%;
    margin: auto;
    padding: 0.5rem 0;
}
.acc_f_c_image {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.acc_f_c_image_left ,
.acc_f_c_image_right {
    position: absolute;
    border: 0;
    width: 3rem;
    aspect-ratio: 1/1;
    font-size: 0px;
    cursor: pointer;
}
.acc_f_c_image_left {
    left: 0;
    background: white;
}
.acc_f_c_image_right {
    right: 0;
    background: white;
} 
.acc_f_c_image_slide{
    display: flex;
    transition: .3s ease;
}
.acc_f_c_image_unit {
    height: 50vh;
    width: calc( 100vw * 0.7 * 0.9);
    max-width: calc( 1280px * 0.7 * 0.9 );
    min-width: 50vh;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acc_f_c_image_unit img{
    height: 100%;
    background-color: white;
}
.acc_f_comment {
    background-color: white;
    position: relative;
    height: 30vh;
    overflow-y: auto;
}
.acc_f_comment ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.acc_f_com_like {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: tomato;
}
.acc_f_com_unit {
    border-bottom: 1px solid #eee;
}
.acc_f_com_u_account {
    height: 3rem;
    display: flex;
    align-items: center;
    position: relative;
}
.acc_f_com_u_avatar {
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px solid #666;
    border-radius: 20%;
    overflow: hidden;
    background-color: white;
}
.acc_f_com_u_avatar img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.acc_f_com_u_time {
    font-size: 80%;
    color: #444;
    position: absolute;
    right: 0;
}
.acc_f_com_u_text{
    width: 90%;
    margin: auto;
    padding: 0.5rem 0;
}
.acc_f_com_input {
    position: sticky;
    bottom: 0;
    height: 3rem;
    background-color: tomato;
    width: 100%;
}
