.mainboxbox {
    width: 10vw;
    height: 10vw;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
}
.can {
    width : 100px;
    aspect-ratio : 1;
    border : 2px solid black;
    border-radius : 50%;
    margin : auto;
    position: absolute;
    bottom: 0;

    display: none;
}

.btnBox {
    background-color: #666;
}
.contentsBox {
    position: relative;
    width: 30vw;
    aspect-ratio: 1/2;
    background-color: #ddd;
    overflow: hidden;
    margin: auto;
}

.cb_text_input {
    display: block;
    position: absolute;
    min-width: 5em;
    min-height: 2em;
    border: none;
    font-size: 120%;
    font-weight: 600;
    background-color: rgb(0,0,0,0.4);
    color: white;
    user-select: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.cb_text_input:focus {
    outline: 2px solid black
}