.groupBox {
    max-width: 1280px;
    margin: auto;
    min-height: 100vh;
}
.g_search {
    height: 4rem;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to right, rgb(28, 167, 125),rgb(23, 48, 124)); */
}
.g_s_inputBox {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 50%;
    box-sizing: border-box;
    background-color: white;
}
.g_s_inputBox input {
    border: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font-size: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    outline-color: #666;
}
.g_s_inputBox input::placeholder {
    font-size: 80%;
}
.g_s_btn {
    border-right: 1px solid black;
    width: 4rem;
    box-sizing: border-box;
}
.g_s_btn button {
    display: block;
    height: 100%;
    width: 100%;
    border: 0;
    cursor: pointer;
    transition: .3s ease;
}
.g_s_btn button:hover {
    background-color: rgb(255,255,255,0.3);
}

.g_s_btn1 button {
    font-size: 0px;
    background: white url('../img/search.svg') no-repeat center/ 50%;
}
.g_s_btn2 button {
    font-size: 0px;
    background: white url('../img/group-add.svg') no-repeat center/ 50%;
}
.g_body {
    height: 100%;
}
.g_b_main{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.g_b_main h3 {
    padding: 0 1rem 2rem;
}
.g_b_my,
.g_b_popular {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
}
.g_b_my ul,
.g_b_popular ul {
    display: flex;
    flex-wrap: wrap;
}
.g_b_my_list{
    width: calc(100% / 4);
    aspect-ratio: 1/1;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgb(0,0,0,0.2);
}
.g_b_popular_empty{
    padding: 2rem 0;
    text-align: center;
    color: rgb(0,0,0,0.7);
}
.g_b_my_img {
    width: 100%;
    height: 100%;
    position: relative;
}
.g_b_img_wrap {
    width: 100%;
    height: 100%;
    background-color: white;
}
.g_b_img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.g_b_my_alarm {
    display: none;
    /* ----------------- */
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.g_b_my_text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent,rgb(0,0,0,0.7) 60%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    box-sizing: border-box;
    color: white;
}
.g_new {
    width: 100%;
    height: 30vh;
    border-collapse: collapse;
    overflow: hidden;
    transition: .3s ease;
}
.g_new.g_new_toggle {
    height: 0;
}
.g_new_box {
    width: 60%;
    height: 30vh;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
}
.g_new_image{
    width: 40%;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.g_new_i_cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 70%;
    color: rgb(0,0,0,0.7);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.g_new_i_cover .cover_bg {
    height: 100%;
    background: transparent url('../img/image-plus.svg') no-repeat center/20%;
}
.g_new_image img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
    background-color: white;
}
.g_new_text {
    width: 60%;
    height: 100%;
}
.g_new_t_title {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    display: flex;
}
.g_new_t_title input {
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 100%;
}
.g_new_t_desc {
    width: 100%;
    height: calc(80% - 2rem);
    position: relative;
}
.g_new_t_desc textarea {
    resize: none;
    border: 0;
    padding: 1rem;
    font-size: 100%;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
.g_new_btn {
    height: 2rem;
    text-align: end;
    padding: 0 2rem;
    box-sizing: border-box;
}


/* ========================================================================== */
@media screen and (max-width : 1023px){
    .groupBox {
    max-width: none;
    margin: auto;
    min-height: 95vh;
}
.g_search {
    height: 4rem;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(28, 167, 125),rgb(23, 48, 124));
}
.g_s_inputBox {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 50%;
    box-sizing: border-box;
    background-color: white;
}
.g_s_inputBox input {
    border: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font-size: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    outline-color: #666;
}
.g_s_inputBox input::placeholder {
    font-size: 80%;
}
.g_s_btn {
    border-right: 1px solid black;
    width: 4rem;
    box-sizing: border-box;
}
.g_s_btn button {
    display: block;
    height: 100%;
    width: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease;
}
.g_s_btn button:hover {
    background-color: rgb(0,0,0,0.2);
}

.g_s_btn1 button {
    font-size: 0px;
    background: white url('../img/search.svg') no-repeat center/ 50%;
}
.g_s_btn2 button {
    font-size: 0px;
    background: white url('../img/group-add.svg') no-repeat center/ 50%;
}

.g_b_main{
    width: 100%;
    margin: auto;
    margin-top: 0;
}
.g_b_main h3 {
    padding: 2rem 0;
}
.g_b_my,
.g_b_popular {
    background-color: white;
    padding:0 10% 2rem;
    box-sizing: border-box;
    margin-bottom: 0;
}
.g_b_my > ul,
.g_b_popular > ul {
    display: flex;
    flex-wrap: wrap;
}
.g_b_my_list{
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.g_b_my_img {
    width: 100%;
    height: 100%;
    position: relative;
}
.g_b_img_wrap {
    width: 100%;
    height: 100%;
    background-color: white;
}
.g_b_img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.g_b_my_alarm {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.g_b_my_text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent,rgb(0,0,0,0.7) 60%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    box-sizing: border-box;
    color: white;
}
.g_new {
    width: 100%;
    height: 30vh;
    border-collapse: collapse;
    overflow: hidden;
    transition: .3s ease;
}
.g_new.g_new_toggle {
    height: 0;
}
.g_new_box {
    width: 60%;
    height: 30vh;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
}
.g_new_image{
    width: 40%;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.g_new_i_cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 70%;
    color: rgb(0,0,0,0.7);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.g_new_i_cover .cover_bg {
    height: 100%;
    background: transparent url('../img/image-plus.svg') no-repeat center/20%;
}
.g_new_image img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
    background-color: white;
}
.g_new_text {
    width: 60%;
    height: 100%;
}
.g_new_t_title {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    display: flex;
}
.g_new_t_title input {
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 100%;
}
.g_new_t_desc {
    width: 100%;
    height: calc(80% - 2rem);
    position: relative;
}
.g_new_t_desc textarea {
    resize: none;
    border: 0;
    padding: 1rem;
    font-size: 100%;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
.g_new_btn {
    height: 2rem;
    text-align: end;
    padding: 0 2rem;
    box-sizing: border-box;
}
}