.homeBox {
    max-width: 1280px;
    background-color: #eee;
    /* height: 100vh; */
    margin: auto;
}
.h_new{
    width: 80%;
    margin: auto;
    background-color: #aaa;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h_new form {
    width: 100%;
}
.h_new textarea{
    resize: none;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    height: 10em;
    font-size: 100%;
}
.h_new_door {
    position: absolute;
    top: 100%;
    background-color: aqua;
    z-index: 1000;
}
.h_feed{
    height: 100%;
}
.h_f_list{
    width: 80%;
    margin: auto;
    background-color: white;
    display: flex;
    margin-bottom: 2rem;
}
.h_f_content {
    width: 65%;
}
.h_f_c_account {
    height: max(3rem, 8vh);
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.h_f_c_acc_avatar {
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px solid #666;
    border-radius: 20%;
    overflow: hidden;
}
.h_f_c_acc_avatar img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.h_f_c_acc_name span{
    font-size: 80%;
    color: #444;
}
.h_f_c_acc_sub {
    position: absolute;
    right: 0;
    font-size: 80%;
    color: #444;
}
.h_f_c_text {
    min-height: 1rem;
    width: 90%;
    margin: auto;
    padding: 0.5rem 0;
}
.h_f_c_image {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.h_f_c_image_left ,
.h_f_c_image_right {
    position: absolute;
    border: 0;
    width: 3rem;
    aspect-ratio: 1/1;
    font-size: 0px;
    cursor: pointer;
}
.h_f_c_image_left {
    left: 0;
    background: white;
}
.h_f_c_image_right {
    right: 0;
    background: white;
} 
.h_f_c_image_slide{
    display: flex;
    transition: .3s ease;
}
.h_f_c_image_unit {
    height: 50vh;
    width: calc( 100vw * 0.8 * 0.65);
    max-width: calc( 1280px * 0.8 * 0.65 );
    min-width: 50vh;
    background-color: black;
    border: 1px solid blue;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h_f_c_image_unit img{
    height: 100%;
    background-color: white;
}

.h_f_comment {
    width: 35%;
    height: 50vh;
}

.h_f_com_like {
    background-color: #666;
}
.h_f_com_unit {
    border-bottom: 1px solid #eee;
    width: 100%;
}
.h_f_com_u_account {
    height: 3rem;
    display: flex;
    align-items: center;
    position: relative;
}
.h_f_com_u_avatar {
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px solid #666;
    border-radius: 20%;
    overflow: hidden;
    background-color: white;
}
.h_f_com_u_avatar img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.h_f_com_u_time {
    font-size: 80%;
    color: #444;
    position: absolute;
    right: 0;
}
.h_f_com_u_text{
    width: 90%;
    margin: auto;
    padding: 0.5rem 0;
}
.h_f_com_lists {
    height: 100%;
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.h_f_com_lists ul {
    width: 100%;
    position: absolute;
}
.h_f_com_input {
    height: 3rem;
    background-color: tomato;
    width: 100%;
}
.h_new_content{
    background-color: white;
    border-radius: 1em;
    font-size: 100%;
    overflow: hidden;
    padding: 0.5em;
}
.h_new_content textarea{
    border: 0;
    outline: none;
}
.h_new_c_image{
    position: relative;
    width: 20%;
    aspect-ratio: 1/1;
}
.h_new_c_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.h_new_c_image button{
    display: block;
    float: right;
    font-size: 0px;
    width: 1rem;
    aspect-ratio: 1/1;
    border: 0;
    cursor: pointer;
    background: transparent url('../img/close_button.png') no-repeat center/100%;
}
.h_new_content_btn button{
    width: 2rem;
    aspect-ratio: 1/1;
    font-size: 0px;
    border: 0;
    cursor: pointer;
    border-radius: 10%;
    background: transparent url('../img/image-plus.svg') no-repeat center/90%;
    transition: .3s ease;
}
.h_new_content_btn button:hover {
    background-color: #aaa;
}
/* ==================================================================== */
/* 
@media screen and (max-width: 1023px) {
    .homeBox {
        width: 100%;
        background-color: #eee;
        height: 100vh;
        margin: auto;
    }
    .h_feed{
        height: 100%;
    }
    .h_f_list{
        width: 80%;
        margin: auto;
        background-color: white;
        display: block;
    }
    .h_f_content {
        width: 100%;
    }
    .h_f_c_account {
        height: max(3rem, 8vh);
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
    }
    
    .h_f_c_acc_avatar {
        height: 90%;
        aspect-ratio: 1/1;
        border: 1px solid #666;
        border-radius: 50%;
    }
    .h_f_c_acc_name span{
        font-size: 80%;
        color: #444;
    }
    .h_f_c_acc_sub {
        position: absolute;
        right: 0;
        font-size: 80%;
        color: #444;
    }
    .h_f_c_text {
        min-height: 1rem;
        width: 90%;
        margin: auto;
        padding: 0.5rem 0;
    }
    .h_f_c_image {
        height: 50vh;
    }
    .h_f_c_image img{
        height: 50vh;
    }
    
    .h_f_comment {
        background-color: #666;
        width: 100%;
        position: relative;
        max-height: 40vh;
    }
    .h_f_com_unit {
        border-bottom: 1px solid #eee;
    }
    .h_f_com_u_account {
        height: 3rem;
        display: flex;
        align-items: center;
        position: relative;
    }
    .h_f_com_u_avatar {
        height: 90%;
        aspect-ratio: 1/1;
        border: 1px solid #666;
        border-radius: 50%;
    }
    .h_f_com_u_time {
        font-size: 80%;
        color: #444;
        position: absolute;
        right: 0;
    }
    .h_f_com_u_text{
        width: 90%;
        margin: auto;
        padding: 0.5rem 0;
    }
    .h_f_com_input {
        position: absolute;
        bottom: 0;
        height: 3rem;
        background-color: tomato;
        width: 100%;
    }
    
} */