.subNavIn {
    width: max(5%, 5rem);
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    background-color: yellow;
}
.subNavIn button {
    cursor: pointer;
    border: 0;
    width: 100%;
    aspect-ratio: 1/1;

}